h1 { 
    color: blue;
    background-color: rgb(255, 255, 0 , 0.8);
}

h2{
    color: blueviolet;
}
body{
    background-color: aqua; 
}

h5{ width: 100%;
    height: 100px;
    color: aliceblue;
    background-color: black;
    font-size: medium;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 4px solid pink;
}
